/* your code here */
footer{
	display:flex;
	flex-direction:column;
}
.media-icons{
	display:flex;
	flex-wrap:wrap;
}
.content{
	width:100vw;
	height:60vh;
	background-color:black;
}
.top{
	padding:30px;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	align-item:center;	
}
.logo_name{
	color:white;
	font-size:55px;
	font-weight:800;
}
.media-icons img{
	height:50px;
	width:50px;
	margin-inline:5px;
}
.link-boxes{
	display:flex;
	justify-content:space-between;
	align-item:center;
}
.link-boxes div ul li {
	list-style-type:none;
	color:white;
	padding:5px;
}
.link-boxes ul li:first-child{
	font-size:18px;
	text-decoration:underline;
}
.link-boxes div ul li a{
	text-decoration:none;
	color:#929292;
}

.link-boxes div ul li a:hover{
	text-decoration:underline;
}
.bottom-details{
	display:flex;
	justify-content:space-between;
	align-items:center;
	width:100vw;
	height:10vh;
	background:#2c303a;
	color:white;
	font-size:20px;
}
.bottom-details div {
	padding:10px 20px;
	color:#929292;
	
}